doctype
html(lang='zh-cn')
  head
    meta(charset='utf-8')
    title
  body
    table
      if hasHeader
        thead
          tr
            each cell in header
              th= cell
      tbody
        each row in data
          tr
            each cell in row
              td= cell
